# Configuración de entorno
NODE_ENV=production

# Configuración de la base de datos PostgreSQL en Render
DATABASE_URL=postgresql://assoliments_db_user:AfS2hZUG6ovRKpqLlq3W7UNXJJPg0Rrh@dpg-d1t0j4er433s73eraf60-a.frankfurt-postgres.render.com/assoliments_db

# Variables individuales de la base de datos
DB_HOST=dpg-d1t0j4er433s73eraf60-a.frankfurt-postgres.render.com
DB_PORT=5432
DB_NAME=assoliments_db
DB_USER=assoliments_db_user
DB_PASSWORD=AfS2hZUG6ovRKpqLlq3W7UNXJJPg0Rrh
DB_SSL=true

# Configuración del servidor
PORT=10000

# Configuración de rate limiting
RATE_LIMIT_ENABLED=false

# Configuració de seguretat
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100

# Configuració de logs
LOG_LEVEL=info 